@use "sass:map";
@use "src/style/pages/theme" as theme;


$bannerImg: '../../../../assets/users/images/hero/banner_top.jpg';



.header_top{
    background: #f5f5f5;
}

.header_top_left{
    display: flex;
    align-items: center;
    padding: 10px 0 13px;
    ul{
        display: flex;
        justify-content: end;
        column-gap: 10px;
        list-style: none;
        li{
            font-size: 14px;
            color: map.get(theme.$theme-colors, "normal-text");
            display: flex;
            align-items: center;
            column-gap: 5px;
        }
        li:first-child{
            position: relative;
            &:after{
                content: "|";
                position: absolute;
                right: -6px;
                opacity: 0.1;
            }
        }
    }
}


.header_top_right{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0 13px;
    
    ul{
        display: flex;
        column-gap: 10px;
        list-style: none;
        a {
            font-size: 14px;
            color: map.get(theme.$theme-colors, "normal-text");
        }
        li:last-child{
            cursor: pointer;
            margin-left: 10px;
            span{
                font-size: 14px;
                margin-left: 2px;
            }
        }
    }
}
.header-logo{
   padding: 15px 0;
}

.header-menu{
    padding: 24px 0;
    ul{
        display: flex;
        justify-content: space-between;
        
        li {
            list-style: none;
            position: relative;

            a{
                text-decoration: none;
                font-size: 14px;
                color: map.get(theme.$theme-colors, "bold-text");
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                transition: all 0.3s;
                padding: 5px 0;
                display: block;
            }
        }

        li:hover .header-menu-dropdown{
            opacity: 1;
            visibility: visible;
        }
        .active a {
            color: map.get(theme.$theme-colors, "main");
        }

        .header-menu-dropdown{
            background: #222222;
            display: block;
            position: absolute;
            width: 180px;
            z-index: 9;
            padding: 5px 0;
            transition: all 0.3s;
            opacity: 0;
            visibility: hidden;

            li{
                a {
                    text-transform: capitalize;
                    color: #ffff;
                    font-weight: 400;
                    padding: 5px 15px;
                }

                :hover{
                    color: map.get(theme.$theme-colors, "main");
                }
            }
        }
            
        
    }
}

.header-cart{
    // background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0; 

    ul{
        display: flex;
        // position: absolute;
        margin-left: 20px;
        li{
            list-style: none;
            position: relative;
            margin-left: 20px;
            
            svg {
                font-size: 25px;
                color: map.get(theme.$theme-colors, "normal-text");
            }
            span{
                color: white;
                background: map.get(theme.$theme-colors, "main");
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: inline-block;
                line-height: 20px;
                font-size: 13px;
                font-weight: 500;
                text-align: center;
                left: 13px;
                top: -5px;

            }
        }
    }

}
.categories{
    position: relative;
    .categories-all{
        background: map.get(theme.$theme-colors, "main");
        padding: 15px 25px 15px 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        column-gap: 10px;
        color: #fff;
        font-weight: 700;
    
        svg,span {
            font-size: 16px;
            margin-right: 5px;
        }

        svg {
            font-size: 20px;
            font-weight: 700;
        }
    }
    ul{
        border: 1px solid #e1e1e1;
        position: absolute;
        width: 99.4%;
        background: #fff;
        opacity: 1;
        transition: all 0.2s ease;

        li{
            list-style: none;

            a{
                text-decoration: none;
                background-color: transparent;
                font-size: 16px;
                color: map.get(theme.$theme-colors, "normal-text");
                line-height: 30px;
                display: block;
                padding-left: 40px;
            }
            &:hover{
                background: #f7ffff;
                a{
                    color: map.get(theme.$theme-colors, "main");
                    text-decoration: none;
                    background: #f7ffff;
                }
            }
        }

        &.hidden{
            opacity: 0;
            visibility: hidden;
        }
    }

    
}
.search-container{
    
    
    .search-form{
        width: 610px;
        height: 48px;
        float: left;
        padding-left: 15px;
        
        form {
            display: flex;
            align-items: center;
        }

        input{
            border: none;
            height: 48px;
            width: 70%;
            font-size: 16px;
            color: #b2b2b2;
            padding-left: 20px;
            border: 1px solid #e1e1e1;
            
            &:focus{
                outline: 1px solid #e1e1e1;
                border: 1px solid #080808;
            }
        }
    
        button{
            font-size: 14px;
            color: #fff;
            font-weight: 800;
            text-transform: uppercase;
            display: inline-block;
            padding: 16px 30px 17px;
            background: map.get(theme.$theme-colors, "main");
            border: none;
            height: 98%;
            cursor: pointer;
    
            
        }
    }
    
    .search-phone{
        display: flex;
        align-items: center;
        
        .search-phone-icon{
            font-size: 25px;
            padding: 10px;
            background: #f5f5f5;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            float: left;
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: map.get(theme.$theme-colors, "main");
        }

        .search-phone-text{
            display: inline-block;

            p {
                color: map.get(theme.$theme-colors, "normal-text");
                margin-bottom: 5px;


            }
            span{
                color: #6f6f6f;
                font-size: 14px;
            }
        }
    }

    .item{
        margin-left: 20px;
        background-image: url(#{$bannerImg});
        background-repeat: no-repeat;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 75px;
        
        .text{
            color: #fff;
        }
    }
}