@use "sass:map";
@use "src/style/pages/theme" as theme;

.footer{
    background: #f5f5f5;
    padding-top: 70px;
    padding-bottom: 0;
    .footer-about{
        margin-bottom: 30px;
        
        .footer-about-logo{
            margin-bottom: 15px;
            display: inline-block;
        }
        
        ul li{
            font-size: 16px;
            color: map.get(theme.$theme-colors, "normal-text");
            line-height: 36px;
        }
    }

    .footer-widget{
        margin-bottom: 30px;
        overflow: hidden;
        h6 {
            color: map.get(theme.$theme-colors, "normal-text");
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
        }

        ul {
            float: left;
            width: 50%;

            li{
                list-style: none;
                a{
                    color: map.get(theme.$theme-colors, "normal-text");
                    font-size: 14px;
                    line-height: 32px;
                    text-decoration: none;
                }
            
            }

        }
        p{
            color: map.get(theme.$theme-colors, "normal-text");
            margin-bottom: 30px;
            font-size: 14px;
        }
        form {
           
            margin-bottom: 30px;

            .input-group{
                display: flex;
                align-items: center;
                input{
                    width: 100%;
                    font-size: 16px;
                    padding-left: 20px;
                    color: map.get(theme.$theme-colors, "normal-text");
                    height: 46px;
                    border: 1px solid #e1e1e1;
    
                    ::placeholder{
                        color: map.get(theme.$theme-colors, "normal-text");
                    }
                }
    
                button{
                    
                    right: 0;
                    top: 0;
                    height:46px;
                    min-width: max-content;
                    
                
                }
            }
            

        }
        .footer-widget-social{
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-top: 30px;
            div{
                :hover{
                    background: map.get(theme.$theme-colors, "main");
                    color: #fff;

                }

                svg{
                    font-size: 20px;
                    padding: 10px;
                    color: #404040;
                    border: 1px solid #e1e1e1;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    background: #fff;
                    cursor: pointer;
                }
            }
        }
    }
    
    
}