@use "sass:map";
@use "src/style/pages/theme" as theme;
.container-categories-slide{
    max-width: 1221px !important;
    margin-top: 30px !important;
  
    .categories-slide{
        .categories-slide-item{
            height: 300px;
            width: 300px;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            border-radius: 5px;
            
            p{
                position: absolute;
                left:16%;
                bottom: 20px;
                text-align: center;
                font-size: 18px;
                color: map.get(theme.$theme-colors, 'normal-text');
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 12px 0 10px;
                width: 270px;
                cursor: pointer;

                &:hover{
                    background: #fff;
                }
            }
        
        }

        .react-multi-carousel-item:not(:first-child):not(:last-child){
            margin-right: 10px;
            margin-left: 5px;
        }
    }
}

.featured{
    margin-top: 50px;
    

    .section-title{
        text-align: center;
        margin-bottom: 35px;
        h2{
            position: relative;
        }

        h2:after{
            position: absolute;
            left: 0;
            bottom: -10px;
            right: 0;
            height: 3px;
            width: 80px;
            background: map.get(theme.$theme-colors, 'main');
            content: '';
            margin: 0 auto;
        }
 
    }
    
    .react-tabs{
        ul {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            li{
                list-style: none;
                font-size: 18px;
                color: map.get(theme.$theme-colors, 'normal-text');
                display: inline-block;
                position: relative;
                cursor: pointer;
                margin-right: 25px;
            }
        }
        

    }
}
