@use "sass:map";
@use "../../../style/pages/theme";

.product-detail-pic {
    display   : flex;
    column-gap: 10px;


    img {

        width          : 65%;
        object-fit     : contain;
        object-position: center;
        flex           : 0 0 65%;
    }

    .main {

        flex       : 0 0 35%;
        display    : grid;
        align-items: stretch;

        img {
            width     : 60%;
            object-fit: contain;

            padding: 5px;

            &:not(:first-child) {
                padding-top: 5px;

            }
        }
    }
}

.product-detail-text {
    h2 {
        color      : #252525;
        font-weight: 700;
        margin-top : 30px;
    }

    .seen-icon {
        display    : flex;
        align-items: center;
        font-size  : 13px;
        line-height: 30px;
        column-gap : 5px;
    }

    p {
        margin     : 10px 0;
        line-height: 20px;
        font-size  : 14px;
        color      : #666;
    }

    ul {
        margin     : 20px 0;
        border-top : 1px solid #eee;
        padding-top: 20px;

        li {
            list-style : none;
            font-size  : 14px;
            display    : flex;
            line-height: 25px;
            column-gap : 5px;

            b {
                width: 150px;
            }

            span {
                display    : flex;
                align-items: center;
                column-gap : 5px;

                svg {
                    font-size: 20px;
                    cursor   : pointer;
                }
            }





        }
    }
}

.product-detail-tab {
    margin: 20px 20px;

    h4 {
        text-align   : center;
        position     : relative;
        margin-bottom: 20px;

        &::after {
            position  : absolute;
            right     : 0;
            top       : 12px;
            height    : 1px;
            width     : 43%;
            background: #eee;
            content   : '';
        }


        &::before {
            position  : absolute;
            left      : 0;
            top       : 12px;
            height    : 1px;
            width     : 43%;
            background: #eee;
            content   : '';
        }
    }
}