@use "sass:map";
@use "../../../style/pages/theme"as theme;


.orders {
    background   : #fff;
    border-radius: 10px;

    h2 {
        font-size    : 24px;
        font-weight  : 600;
        margin-bottom: 15px;
        padding      : 20px;
    }

    &-table {
        width          : 100%;
        border-collapse: collapse;
        margin-bottom  : 20px;

        th,
        td {
            padding       : 10px;
            text-align    : center;
            vertical-align: middle;
        }
    }

    &-pagination {
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-bottom  : 20px;
    }

    &-page-btn {
        cursor       : pointer;
        min-width    : 30px;
        padding      : 0 12px;
        font-size    : 14px;
        color        : map.get(theme.$theme-colors, "normal-text");
        background   : #fff;
        border       : 1px solid #e0e0e0;
        border-radius: 5px;

        &:hover:not(&--active) {
            background: #e6e0e0;
            color     : #695353;

        }

        &--active {
            background: #e6e0e0;
            color     : #695353;
        }
    }
}